<div class="card">
    <div class="card-body">
        <mat-card class="mat-elevation-z1">
            <mat-progress-bar *ngIf="loading" class="top" color="primary" mode="indeterminate"></mat-progress-bar>
            <mat-card-content>
                <div class="d-flex">
                    <div class="flex-grow-1 me-2">
                        <input class="form-control mb-2" type="text" placeholder="Search" (keyup)="applyFilter($event)" />
                    </div>
                    <div class="">
                        <button type="button" color="primary" class="me-2" mat-flat-button
                            (click)="openDialog('300ms','300ms')">Create</button>
                        <button type="button" color="accent" mat-flat-button>Excel</button>
                    </div>
                </div>
        
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z0" matSort
                    (matSortChange)="announceSortChange($event)">
        
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef width="80">
                            <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                                (change)="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>
        
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>id</th>
                        <td mat-cell *matCellDef="let element">{{element.id}}</td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>name</th>
                        <td mat-cell *matCellDef="let element">{{element.name}}</td>
                    </ng-container>
                    <ng-container matColumnDef="username">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>username</th>
                        <td mat-cell *matCellDef="let element">{{element.username}}</td>
                    </ng-container>
        
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns:displayedColumns;" (click)="selection.toggle(row)"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                </mat-paginator>
            </mat-card-content>
            <mat-progress-bar *ngIf="loading" class="bottom" color="primary" mode="indeterminate"></mat-progress-bar>
        </mat-card>
    </div>
</div>
